.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogo{
    display: flex;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
    width: auto;
    height: 100%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.logo{
    background-color: #76E4F7;
    width: auto;
    height: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-inline: 20px;
}

.form_login{
    width: 573px;
    height: 412px;
    border-radius: 12px;
    background-color: #EDFDFD;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 60px;
    padding-top: 30px;
}

.esqueceuSuaSenha {
    font-size: 12px;
    text-decoration: underline;
    line-height: 20px;
    font-family: var(--font-roboto);
    color: #6750a4;
    text-align: right !important;
    margin-bottom: 10px;
  }

.containerInputs{
    margin-top: 80px;
    flex-direction: column;
    display: flex;
}
