/* Containers */
.containerTotal{
  align-items: center;
  display: flex;
  /* margin:20px; */
  /* margin-left: 20px; */
  border:1px solid #E2E8F0;
  border-radius:12px;
  height:100%;
}

.containerPrincipal{
  border-radius:12px;
  height:auto;
  flex-direction:column;
  margin-inline: 35px;
  width: 95%;
}

.containerTable{
  border:1px solid #E2E8F0;
  border-radius:12px;
  height:740px;
  background-color:#C4F1F9;
  flex-direction:column;
}

/* Tabelas */
.containerTabela {
  max-height: 70%;
  overflow-y: "auto"; 
  overflow-x:"auto";
  margin-top:20px;
  margin-right: 15px;
  border-radius: 12px;
}

.tabela {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 5px;
}

/* Filtro */
.containerFiltro {
  width:240px;
  height: 600px;
  padding: 12px;
  border-radius: 12px;
  margin-inline: 20px;
  margin-top: 20px;
  background-color: white;
}

/* Sidebar */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do pega da barra de rolagem */
}