.xsIcon {
    position: absolute;
    height: 94.74%;
    width: 100.17%;
    top: 5.39%;
    right: -0.09%;
    bottom: -0.13%;
    left: -0.09%;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .base,
  .ckmoonIcon {
    position: absolute;
    top: 0;
  }
  .ckmoonIcon {
    height: 3.08%;
    width: 2.07%;
    right: 4.15%;
    bottom: 96.92%;
    left: 93.78%;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .base {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--white);
    box-shadow: var(--base);
    border: 1px solid var(--cyan-100);
    box-sizing: border-box;
  }
  .leftIcon {
    position: relative;
    width: 14px;
    height: 14px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .children {
    position: relative;
    line-height: 20px;
    font-weight: 600;
  }
  .rightIcon {
    position: relative;
    width: 14px;
    height: 14px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .limparBtn {
    position: absolute;
    height: 5.98%;
    width: 85.89%;
    top: 85.05%;
    right: 7.05%;
    bottom: 8.97%;
    left: 7.05%;
    border-radius: var(--br-7xs);
    border: 1px solid var(--red-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xs);
    gap: var(--gap-5xs);
    text-align: center;
    color: var(--red-500);
  }
  .placeholder {
    align-self: stretch;
    position: relative;
  }
  .input {
    height: 62.74%;
    width: 100%;
    top: 37.26%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--cyan-100);
    border: 1px solid var(--black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xs);
    opacity: 0.5;
  }
  .circuito,
  .input,
  .sm {
    position: absolute;
  }
  .sm {
    height: 41.18%;
    width: 24.88%;
    top: 0;
    left: 0.48%;
    line-height: 150%;
    color: var(--black);
    display: inline-block;
  }
  .circuito {
    height: 9.53%;
    width: 86.72%;
    top: 62.06%;
    right: 7.05%;
    bottom: 28.41%;
    left: 6.22%;
  }
  .input1 {
    height: 60.38%;
    width: 100%;
    top: 39.62%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--cyan-100);
    border: 1px solid var(--black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xs);
    opacity: 0.5;
  }
  .input1,
  .nomeUni,
  .sm1 {
    position: absolute;
  }
  .sm1 {
    height: 39.62%;
    width: 47.37%;
    top: 0;
    left: 0.48%;
    line-height: 150%;
    color: var(--black);
    display: inline-block;
  }
  .nomeUni {
    height: 9.91%;
    width: 86.72%;
    top: 47.66%;
    right: 7.05%;
    bottom: 42.43%;
    left: 6.22%;
  }
  .input2 {
    height: 61.54%;
    width: 100%;
    top: 38.46%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--cyan-100);
    border: 1px solid var(--black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xs);
    opacity: 0.5;
  }
  .diretoria,
  .input2,
  .sm2 {
    position: absolute;
  }
  .sm2 {
    height: 40.38%;
    width: 27.27%;
    top: 0;
    left: 0.48%;
    line-height: 150%;
    color: var(--black);
    display: inline-block;
  }
  .diretoria {
    height: 9.72%;
    width: 86.72%;
    top: 33.46%;
    right: 6.64%;
    bottom: 56.82%;
    left: 6.64%;
  }
  .icon,
  .placeholder3 {
    position: absolute;
    top: calc(50% - 10.11px);
  }
  .placeholder3 {
    width: calc(100% - 52px);
    left: 12px;
    line-height: 20px;
    display: inline-block;
  }
  .icon {
    right: 8px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .select,
  .sm3 {
    position: absolute;
    left: 0;
  }
  .select {
    height: 59.26%;
    width: 100%;
    top: 40.74%;
    right: 0;
    bottom: 0;
    border-radius: var(--br-7xs);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    box-sizing: border-box;
    overflow: hidden;
  }
  .sm3 {
    height: 38.89%;
    width: 36.36%;
    top: 0;
    line-height: 150%;
    color: var(--black);
    display: inline-block;
  }
  .fornecedor {
    height: 10.09%;
    width: 86.72%;
    top: 4.49%;
    right: 7.05%;
    bottom: 85.42%;
    left: 6.22%;
    color: var(--gray-700);
  }
  .contrato,
  .fornecedor,
  .sm4 {
    position: absolute;
  }
  .sm4 {
    height: 39.62%;
    width: 28.23%;
    top: 0;
    left: 0.96%;
    line-height: 150%;
    color: var(--black);
    display: inline-block;
  }
  .contrato {
    height: 9.91%;
    width: 86.72%;
    top: 19.07%;
    right: 7.05%;
    bottom: 71.03%;
    left: 6.22%;
  }
  .leftIcon1 {
    position: relative;
    width: 14px;
    height: 14px;
  }
  .filtrarBtn {
    position: absolute;
    height: 5.98%;
    width: 85.89%;
    top: 76.07%;
    right: 7.05%;
    bottom: 17.94%;
    left: 7.05%;
    border-radius: var(--br-7xs);
    border: 1px solid var(--cyan-300);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xs);
    gap: var(--gap-5xs);
    color: var(--cyan-300);
  }
  .filtroLateral {
    position: absolute;
    height: 73.43%;
    width: 20.83%;
    top: 21.44%;
    right: 77.1%;
    bottom: 5.13%;
    left: 2.07%;
    color: var(--gray-400);
  }
  .border,
  .dre1 {
    position: absolute;
    left: 0;
  }
  .dre1 {
    width: calc(100% - 108px);
    top: calc(50% - 8px);
    letter-spacing: 0.05em;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .border {
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: var(--gray-200);
    height: 1px;
  }
  .head {
    position: relative;
    background-color: var(--white);
    width: 186px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--text-xs-lineheight-4-font-bold-letterspacing-wider-size);
    color: var(--gray-900);
  }
  .segunAdebayo {
    position: absolute;
    width: 100%;
    top: calc(50% - 9.5px);
    left: 0;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 26px;
  }
  .row {
    align-self: stretch;
    position: relative;
    background-color: var(--white);
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .markChandler {
    position: absolute;
    width: 100%;
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .row1 {
    align-self: stretch;
    position: relative;
    background-color: var(--white);
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .javierAlaves,
  .lazarNikolov {
    position: absolute;
    width: 100%;
    top: calc(50% - 18px);
    left: 0;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 36px;
  }
  .javierAlaves {
    height: 44px;
  }
  .dre {
    width: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--component-text-sm-size);
    color: var(--gray-600);
  }
  .cidade1 {
    position: absolute;
    width: calc(100% - 7px);
    top: calc(50% - 8px);
    left: 8px;
    letter-spacing: 0.05em;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .head1 {
    align-self: stretch;
    position: relative;
    background-color: var(--white);
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--gray-900);
  }
  .developer,
  .founderOfChakra {
    position: absolute;
    width: calc(100% - 7px);
    top: calc(50% - 20.5px);
    left: 6px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 38px;
  }
  .developer {
    top: calc(50% - 19px);
  }
  .cidade {
    width: 86px;
    height: 248px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--gray-600);
  }
  .nomeUnidade1 {
    position: absolute;
    width: calc(100% - 31.5px);
    top: calc(50% - 8px);
    left: 8px;
    letter-spacing: 0.05em;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .border8 {
    position: absolute;
    width: calc(100% + 0.5px);
    right: -0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--gray-200);
    height: 1px;
  }
  .designer1,
  .founderOfChakra1 {
    position: absolute;
    width: calc(100% - 7.5px);
    top: calc(50% - 20.5px);
    left: 8px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 38px;
  }
  .designer1 {
    top: calc(50% - 16px);
  }
  .nomeUnidade {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--gray-600);
  }
  .designao,
  .designer2,
  .developer2,
  .founderOfChakra2 {
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
  }
  .designao {
    width: calc(100% - 32px);
    top: calc(50% - 8px);
    letter-spacing: 0.05em;
    line-height: 16px;
  }
  .designer2,
  .developer2,
  .founderOfChakra2 {
    width: calc(100% - 13px);
    top: calc(50% - 19.5px);
    line-height: 20px;
    height: 38px;
  }
  .designer2,
  .developer2 {
    top: calc(50% - 20px);
  }
  .designer2 {
    top: calc(50% - 17px);
  }
  .designacao {
    width: 123px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contrato2,
  .developer3,
  .devrel3,
  .founderOfChakra3 {
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
  }
  .contrato2 {
    width: calc(100% - 11px);
    top: calc(50% - 8px);
    letter-spacing: 0.05em;
    line-height: 16px;
  }
  .developer3,
  .devrel3,
  .founderOfChakra3 {
    width: calc(100% - 14px);
    top: calc(50% - 18.5px);
    line-height: 20px;
    height: 38px;
  }
  .developer3,
  .devrel3 {
    top: calc(50% - 20px);
  }
  .devrel3 {
    top: calc(50% - 16px);
  }
  .contrato1 {
    width: 119px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ultRef1 {
    position: absolute;
    width: calc(100% - 13px);
    top: calc(50% - 8px);
    left: 8px;
    letter-spacing: 0.05em;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .designer4,
  .developer4,
  .devrel4,
  .founderOfChakra4 {
    position: absolute;
    width: calc(100% - 24px);
    top: calc(50% - 16.5px);
    left: 8px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 38px;
  }
  .designer4,
  .developer4,
  .devrel4 {
    top: calc(50% - 18px);
  }
  .designer4,
  .devrel4 {
    top: calc(50% - 19px);
  }
  .designer4 {
    top: calc(50% - 20px);
  }
  .ultRef {
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .endereo {
    position: absolute;
    width: calc(100% - 15.5px);
    top: calc(50% - 8px);
    left: 8px;
    letter-spacing: 0.05em;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .javichakraUicom,
  .markchakraUicom,
  .sagechakraUicom {
    position: absolute;
    width: calc(100% - 7.5px);
    top: calc(50% - 19.5px);
    left: 8px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 38px;
  }
  .javichakraUicom,
  .markchakraUicom {
    top: calc(50% - 19px);
  }
  .javichakraUicom {
    top: calc(50% - 17px);
  }
  .endereco,
  .table {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .endereco {
    flex: 1;
    flex-direction: column;
  }
  .table {
    position: absolute;
    height: 73.43%;
    width: 73.98%;
    top: 21.44%;
    right: 1.82%;
    bottom: 5.13%;
    left: 24.2%;
    border-radius: var(--br-xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-xs);
    box-sizing: border-box;
    mix-blend-mode: normal;
    font-size: var(--text-xs-lineheight-4-font-bold-letterspacing-wider-size);
  }
  .breadcrumblink {
    position: relative;
    line-height: 24px;
    cursor: pointer;
  }
  .vectorIcon {
    position: relative;
    width: 5.56px;
    height: 9px;
  }
  .breadcrumbitem,
  .breadcrumbseparator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .breadcrumbseparator {
    height: 24px;
    flex-direction: column;
    padding: 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .breadcrumbitem {
    flex-direction: row;
  }
  .breadcrumbitem2,
  .breadcrumbseparator1 {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .breadcrumbseparator1 {
    height: 24px;
    flex-direction: column;
    padding: 0 var(--padding-5xs);
    box-sizing: border-box;
  }
  .breadcrumbitem2 {
    flex-direction: row;
  }
  .breadcrumblink4 {
    display: none;
  }
  .breadcrumblink4,
  .text {
    position: relative;
    line-height: 24px;
  }
  .breadcrumbseparator4 {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
    color: var(--color-gray-100);
  }
  .breadcrumb,
  .circuitosCadastrados {
    position: absolute;
    text-align: center;
    display: flex;
  }
  .breadcrumb {
    height: 3.08%;
    width: 29.95%;
    top: 1.28%;
    right: 68.92%;
    bottom: 95.64%;
    left: 1.12%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--text-md-lineheight-6-font-normal-size);
  }
  .circuitosCadastrados {
    height: 4.88%;
    width: 81.76%;
    top: 10.91%;
    left: 9.08%;
    font-size: 40px;
    line-height: 16px;
    font-family: var(--font-kreon);
    color: var(--black);
    align-items: center;
    justify-content: center;
  }
  .containerPrincipal {
    position: absolute;
    height: 86.56%;
    width: 90.39%;
    top: 3.89%;
    right: 2.5%;
    bottom: 9.56%;
    left: 7.11%;
  }
  .barraLateralChild {
    position: absolute;
    height: 100%;
    width: 91.43%;
    top: 0;
    right: 4.29%;
    bottom: 0;
    left: 4.29%;
    border-radius: var(--br-xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: normal;
  }
  .admPerfIcon,
  .cadNovoUsuIcon,
  .consultarCircCadIcon,
  .listUsuIcon,
  .listUsuIcon1,
  .moniRedeIcon {
    position: absolute;
    height: 2.67%;
    width: 34.29%;
    top: 74.78%;
    right: 31.43%;
    bottom: 22.56%;
    left: 34.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .admPerfIcon,
  .cadNovoUsuIcon,
  .consultarCircCadIcon,
  .listUsuIcon1,
  .moniRedeIcon {
    top: 70.78%;
    bottom: 26.56%;
  }
  .admPerfIcon,
  .cadNovoUsuIcon,
  .consultarCircCadIcon,
  .moniRedeIcon {
    top: 66.56%;
    right: 32.86%;
    bottom: 30.78%;
    left: 32.86%;
  }
  .admPerfIcon,
  .cadNovoUsuIcon,
  .consultarCircCadIcon {
    top: 62.78%;
    right: 31.43%;
    bottom: 34.56%;
    left: 34.29%;
  }
  .admPerfIcon,
  .consultarCircCadIcon {
    top: 58.78%;
    right: 35.71%;
    bottom: 38.56%;
    left: 30%;
  }
  .consultarCircCadIcon {
    top: 26.89%;
    right: 32.86%;
    bottom: 70.44%;
    left: 32.86%;
    cursor: pointer;
  }
  .cadastrarReunioIcon,
  .consultarContAnaIcon,
  .consultarContDetIcon,
  .consultarEqDireIcon,
  .consultarServidorIcon,
  .importarContasIcon {
    position: absolute;
    height: 2.67%;
    width: 34.29%;
    top: 22.89%;
    right: 32.86%;
    bottom: 74.44%;
    left: 32.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .cadastrarReunioIcon,
  .consultarContDetIcon,
  .consultarEqDireIcon,
  .consultarServidorIcon,
  .importarContasIcon {
    top: 18.89%;
    bottom: 78.44%;
  }
  .cadastrarReunioIcon,
  .consultarEqDireIcon,
  .consultarServidorIcon,
  .importarContasIcon {
    top: 14.89%;
    bottom: 82.44%;
  }
  .cadastrarReunioIcon,
  .consultarEqDireIcon,
  .consultarServidorIcon {
    top: 46.67%;
    bottom: 50.67%;
  }
  .cadastrarReunioIcon,
  .consultarServidorIcon {
    top: 38.67%;
    bottom: 58.67%;
  }
  .consultarServidorIcon {
    top: 42.67%;
    bottom: 54.67%;
  }
  .divider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid var(--m3-sys-light-outline-variant);
    box-sizing: border-box;
    height: 1px;
  }
  .divider2,
  .divider3,
  .divider4 {
    position: absolute;
    height: 0.33%;
    width: 98.57%;
    top: 52.44%;
    right: 1.43%;
    bottom: 47.22%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
  }
  .divider2,
  .divider3 {
    height: 0.11%;
    top: 80.44%;
    right: 0;
    bottom: 19.44%;
    left: 1.43%;
  }
  .divider2 {
    top: 31.89%;
    bottom: 68%;
  }
  .ckchevronrightIcon,
  .mdexittoappIcon {
    position: absolute;
    height: 2.67%;
    width: 34.29%;
    top: 83.67%;
    right: 35.71%;
    bottom: 13.67%;
    left: 30%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .ckchevronrightIcon {
    top: 3.33%;
    right: 32.86%;
    bottom: 94%;
    left: 32.86%;
    cursor: pointer;
  }
  .barraLateral {
    position: absolute;
    top: 0;
    left: -3px;
    width: 70px;
    height: 900px;
  }
  .circCad {
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--white);
    box-shadow: var(--base);
    width: 100%;
    height: 900px;
    overflow: hidden;
    text-align: left;
    font-size: var(--component-text-sm-size);
    color: var(--gray-700);
    font-family: var(--component-text-sm);
  }
  